---
import ContainerLayout from '../layouts/ContainerLayout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<ContainerLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<section class="home">
	<h1 class="visuallyhidden">Eva designs and builds for the web</h1>
	<div class="intro">
		<p>
			<strong><a href="/about" class="inline-link">Tim Adler</a></strong>
			spricht verständlich über Technik und baut Systeme, die echte Probleme lösen.
		</p>
	</div>
</section>
</ContainerLayout>


<style lang="scss">
  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .home {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xl);
    padding-block-end: var(--space-3xl);
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .work {
    padding-block: var(--space-3xl) var(--space-xl);
  }

  .intro {
    padding-block-start: var(--space-2xl);
    text-wrap: balance;
    user-select: none;

    p {
      font-size: var(--step-4);
      letter-spacing: var(--letter-spacing-condensed);
      line-height: var(--line-height-tight);
    }
  }

  .synth {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (width > 640px) {
      background: var(--gray-3);
      border-radius: var(--radius-m);
      padding: var(--space-xl) var(--space-l);
    }
  }

  [data-sam-button] {
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }
  }
</style>
