---
import logoSrc from "../../assets/logo.svg";
---

<a id="logo" href="/" data-fathom="logo" transition:persist="logo" aria-label="Tim Adler">
  <img src={logoSrc.src} alt="Tim Adler" width="60" height="26" loading="eager" decoding="async" />
</a>

<style lang="scss">
  #logo {
    width: 60px;
    transform: translateY(-0.1em);
    flex-shrink: 0;
    display: inline-flex;
  }

  #logo img {
    width: 100%;
    height: auto;
    display: block;
  }
</style>