---
import logoMarkup from "../../assets/logo.svg?raw";
---

<a id="logo" href="/" data-fathom="logo" transition:persist="logo" aria-label="Tim Adler">
  <Fragment set:html={logoMarkup} />
</a>

<style lang="scss">
  #logo {
    width: 60px;
    transform: translateY(-0.1em);
    flex-shrink: 0;
    display: inline-flex;
    color: inherit;
  }

  #logo :global(svg) {
    width: 100%;
    height: auto;
    display: block;
    fill: currentColor;
  }
</style>