---

---

<a id="logo" href="/" data-fathom="logo" transition:persist="logo">
  <svg id="Ebene_2" data-name="Ebene 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 290.29 129.77">
    <defs>
      <style>
        .cls-1 {
          fill: currentColor;
          stroke: currentColor;
        }
      </style>
    </defs>
    <g id="Ebene_1-2" data-name="Ebene 1">
      <g>
        <rect class="cls-1" x="12.46" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="158.92" y="34.28" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="56.09" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="21.81" y="65.44" width="3.12" height="3.12"/>
        <rect class="cls-1" x="12.46" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="15.58" y="71.67" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="12.46" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="12.46" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="155.81" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="28.05" y="109.07" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="130.88" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="121.53" y="34.28" width="3.12" height="3.12"/>
        <rect class="cls-1" x="118.41" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="21.81" y="90.37" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="133.99" y="28.05" width="3.12" height="3.12"/>
        <rect class="cls-1" x="124.65" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="15.58" y="96.6" width="3.12" height="3.12"/>
        <path class="cls-1" d="M105.95,28.13c-1.06.53-2.1,1.09-3.12,1.68v1.36h3.12v-3.03Z"/>
        <path class="cls-1" d="M96.09,34.28h.51v-.38c-.17.13-.34.26-.51.38Z"/>
        <path class="cls-1" d="M83.96,46.74h.18v-.25c-.06.08-.12.17-.18.25Z"/>
        <path class="cls-1" d="M143.34,21.79v.02h.17c-.06,0-.12-.01-.17-.02Z"/>
        <path class="cls-1" d="M124.65,22.17c-1.05.17-2.09.36-3.12.57v2.18h3.12v-2.76Z"/>
        <path class="cls-1" d="M127.23,21.81h.53v-.06c-.18.02-.36.04-.53.06Z"/>
        <rect class="cls-1" x="24.93" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="224.36" y="124.65" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="28.05" y="46.74" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="115.3" y="28.05" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="31.16" width="3.12" height="3.12"/>
        <path class="cls-1" d="M177.62,40.51v3.12h2.98c-1.47-2.21-3.13-4.3-4.96-6.23h-1.14v3.12h3.12Z"/>
        <rect class="cls-1" x="43.63" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="137.11" y="24.93" width="3.12" height="3.12"/>
        <path class="cls-1" d="M152.28,124.65h-2.71v1.07c.91-.34,1.81-.7,2.71-1.07Z"/>
        <path class="cls-1" d="M143.34,127.66c1.05-.27,2.09-.57,3.12-.89v-2.13h-3.12v3.02Z"/>
        <rect class="cls-1" x="68.56" y="56.09" width="3.12" height="2.61"/>
        <path class="cls-1" d="M196.32,125.3v-.66h-1.06c.35.23.7.44,1.06.66Z"/>
        <rect class="cls-1" x="62.32" y="56.09" width="3.12" height="2.61"/>
        <path class="cls-1" d="M74.79,92.79v-2.42h-.55c.16.82.34,1.62.55,2.42Z"/>
        <path class="cls-1" d="M149.58,22.87c-1.02-.23-2.06-.45-3.12-.63v2.68h3.12v-2.05Z"/>
        <path class="cls-1" d="M199.43,126.91c.67.3,1.36.59,2.07.85h1.05v-3.12h-3.12v2.27Z"/>
        <rect class="cls-1" x="121.53" y="28.05" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="56.09" width="3.12" height="2.61"/>
        <rect class="cls-1" x="146.46" y="28.05" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="55.03 62.32 55.64 59.21 52.97 59.21 52.97 62.32 55.03 62.32"/>
        <path class="cls-1" d="M133.99,129.36c1.05-.12,2.09-.25,3.12-.41v-1.19h-3.12v1.6Z"/>
        <rect class="cls-1" x="140.23" y="28.05" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="53.18 71.67 52.97 71.67 52.97 72.69 53.18 71.67"/>
        <path class="cls-1" d="M105.95,126.37c1.02.36,2.06.7,3.12,1.01v-2.73h-3.12v1.73Z"/>
        <path class="cls-1" d="M181.55,99.72c.04,1.06.13,2.1.26,3.12h2.05v-3.12h-2.31Z"/>
        <rect class="cls-1" x="112.18" y="124.65" width="3.12" height="3.12"/>
        <rect class="cls-1" x="127.76" y="28.05" width="3.12" height="3.12"/>
        <rect class="cls-1" x="130.88" y="24.93" width="3.12" height="3.12"/>
        <path class="cls-1" d="M163.61,118.41h-1.57v1.06c.53-.34,1.05-.7,1.57-1.06Z"/>
        <path class="cls-1" d="M112.18,128.2v-.44h-1.76c.58.15,1.17.3,1.76.44Z"/>
        <path class="cls-1" d="M102.83,125.17v-.52h-1.15c.38.17.76.35,1.15.52Z"/>
        <path class="cls-1" d="M121.53,129.6c1.03.08,2.07.13,3.12.15v-1.99h-3.12v1.84Z"/>
        <path class="cls-1" d="M186.97,116.65v-1.35h-.88c.28.46.57.91.88,1.35Z"/>
        <path class="cls-1" d="M96.6,121.99c1.01.6,2.05,1.18,3.12,1.72v-2.17h-3.12v.46Z"/>
        <path class="cls-1" d="M74.98,93.48c.28,1.06.6,2.09.95,3.12h1.98v-3.12h-2.93Z"/>
        <path class="cls-1" d="M190.09,120.43v-2.02h-1.79c.57.7,1.16,1.38,1.79,2.02Z"/>
        <path class="cls-1" d="M193.2,123.21v-1.68h-1.99c.64.59,1.3,1.15,1.99,1.68Z"/>
        <path class="cls-1" d="M152.69,124.47c1.06-.45,2.1-.93,3.12-1.44v-1.5h-3.12v2.94Z"/>
        <polygon class="cls-1" points="53.79 68.56 54.41 65.44 52.97 65.44 52.97 68.56 53.79 68.56"/>
        <path class="cls-1" d="M49.86,127.56c1.04-.08,2.08-.19,3.12-.31v-2.6h-3.12v2.91Z"/>
        <rect class="cls-1" x="52.97" y="121.53" width="3.12" height="3.12"/>
        <rect class="cls-1" x="143.34" y="31.16" width="3.12" height="3.12"/>
        <path class="cls-1" d="M46.62,127.76s.08,0,.12,0v-3.11h-3.12v3.12h3Z"/>
        <rect class="cls-1" x="62.32" y="118.41" width="3.12" height="3.12"/>
        <path class="cls-1" d="M59.21,126.31v-1.66h-3.12v2.19c1.06-.16,2.1-.34,3.12-.53Z"/>
        <rect class="cls-1" x="137.11" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="133.99" y="34.28" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="40.51" y="121.53" width="3.12" height="3.12"/>
        <path class="cls-1" d="M37.39,127.57c.89.08,1.8.15,2.73.2h.38v-3.12h-3.12v2.92Z"/>
        <rect class="cls-1" x="146.46" y="34.28" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="118.41" width="3.12" height="3.12"/>
        <path class="cls-1" d="M68.56,90.38c-1.06.19-2.11.34-3.12.46v2.65h3.12v-3.11Z"/>
        <rect class="cls-1" x="215.01" y="121.53" width="3.12" height="3.12"/>
        <rect class="cls-1" x="152.69" y="28.05" width="3.12" height="3.12"/>
        <path class="cls-1" d="M51.45,84.14c-.14-.95-.16-1.99-.04-3.12h-1.54v3.12h1.59Z"/>
        <rect class="cls-1" x="205.67" y="124.65" width="3.12" height="3.12"/>
        <rect class="cls-1" x="211.9" y="124.65" width="3.12" height="3.12"/>
        <path class="cls-1" d="M56.09,90.16v.21h.5c-.17-.06-.33-.14-.5-.21Z"/>
        <path class="cls-1" d="M127.76,129.77c1.05-.02,2.09-.06,3.12-.12v-1.88h-3.12v2Z"/>
        <rect class="cls-1" x="149.58" y="31.16" width="3.12" height="3.12"/>
        <path class="cls-1" d="M62.32,91.09c-.33.01-.66.02-.96.02-.76,0-1.47-.05-2.16-.14v2.52h3.12v-2.4Z"/>
        <rect class="cls-1" x="218.13" y="124.65" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="51.94 77.9 52.56 74.79 49.86 74.79 49.86 77.9 51.94 77.9"/>
        <rect class="cls-1" x="255.52" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="196.32" y="115.3" width="3.12" height="3.12"/>
        <rect class="cls-1" x="230.6" y="68.56" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="196.32 96.6 196.32 99.72 199.43 99.72 199.43 96.6 202.55 96.6 202.55 93.48 199.43 93.48 199.43 90.37 196.32 90.37 196.32 93.48 193.2 93.48 193.2 96.6 196.32 96.6"/>
        <rect class="cls-1" x="199.43" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="193.2" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="230.6" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="227.48" y="109.07" width="3.12" height="3.12"/>
        <rect class="cls-1" x="190.09" y="109.07" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="193.2 102.83 196.32 102.83 196.32 99.72 193.2 99.72 193.2 96.6 190.09 96.6 190.09 99.72 186.97 99.72 186.97 102.83 190.09 102.83 190.09 105.95 193.2 105.95 193.2 102.83"/>
        <rect class="cls-1" x="196.32" y="109.07" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="202.55 90.37 202.55 93.48 205.67 93.48 205.67 90.37 208.78 90.37 208.78 87.25 205.67 87.25 205.67 84.14 202.55 84.14 202.55 87.25 199.43 87.25 199.43 90.37 202.55 90.37"/>
        <rect class="cls-1" x="208.78" y="71.67" width="3.12" height="3.12"/>
        <rect class="cls-1" x="208.78" y="77.9" width="3.12" height="3.12"/>
        <rect class="cls-1" x="233.71" y="71.67" width="3.12" height="3.12"/>
        <rect class="cls-1" x="208.78" y="109.07" width="3.12" height="3.12"/>
        <rect class="cls-1" x="205.67" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="236.83" y="112.18" width="3.12" height="3.12"/>
        <path class="cls-1" d="M239.94,100.23c-.92.74-1.97,1.34-3.12,1.77v.83h3.12v-2.6Z"/>
        <path class="cls-1" d="M232.49,102.78c-.65,0-1.29-.06-1.9-.15v.21h3.12v-.11c-.4.04-.8.06-1.22.06Z"/>
        <rect class="cls-1" x="205.67" y="112.18" width="3.12" height="3.12"/>
        <path class="cls-1" d="M227.48,102.83v-1.16c-1.03-.5-1.93-1.16-2.69-1.95h-.43v3.12h3.12Z"/>
        <path class="cls-1" d="M222.34,93.48c0-1.09.16-2.13.44-3.12h-1.54v3.12h1.09Z"/>
        <rect class="cls-1" x="233.71" y="102.83" width="3.12" height="3.12"/>
        <rect class="cls-1" x="211.9" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="239.94" y="109.07" width="3.12" height="3.12"/>
        <rect class="cls-1" x="205.67" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="243.06" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="199.43" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="236.83" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="202.55" y="109.07" width="3.12" height="3.12"/>
        <rect class="cls-1" x="230.6" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="243.06" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="211.9" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="211.9" y="68.56" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="202.55 102.83 202.55 105.95 205.67 105.95 205.67 102.83 208.78 102.83 208.78 99.72 205.67 99.72 205.67 96.6 202.55 96.6 202.55 99.72 199.43 99.72 199.43 102.83 202.55 102.83"/>
        <rect class="cls-1" x="205.67" y="93.48" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="215.01 81.02 218.13 81.02 218.13 77.9 221.25 77.9 221.25 74.79 218.13 74.79 218.13 71.67 215.01 71.67 215.01 74.79 211.9 74.79 211.9 77.9 215.01 77.9 215.01 81.02"/>
        <rect class="cls-1" x="218.13" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="199.43" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="193.2" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="205.67" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="196.32" y="102.83" width="3.12" height="3.12"/>
        <rect class="cls-1" x="208.78" y="96.6" width="3.12" height="3.12"/>
        <rect class="cls-1" x="211.9" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="211.9" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="215.01" y="109.07" width="3.12" height="3.12"/>
        <rect class="cls-1" x="208.78" y="102.83" width="3.12" height="3.12"/>
        <rect class="cls-1" x="208.78" y="90.37" width="3.12" height="3.12"/>
        <rect class="cls-1" x="208.78" y="84.14" width="3.12" height="3.12"/>
        <rect class="cls-1" x="215.01" y="84.14" width="3.12" height="3.12"/>
        <rect class="cls-1" x="227.48" y="71.67" width="3.12" height="3.12"/>
        <rect class="cls-1" x="211.9" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="224.36" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="221.25" y="71.67" width="3.12" height="3.12"/>
        <rect class="cls-1" x="221.25" y="65.44" width="3.12" height="3.12"/>
        <rect class="cls-1" x="215.01" y="65.44" width="3.12" height="3.12"/>
        <rect class="cls-1" x="224.36" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="230.6" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="215.01" y="96.6" width="3.12" height="3.12"/>
        <rect class="cls-1" x="218.13" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="221.25" y="77.9" width="3.12" height="3.12"/>
        <rect class="cls-1" x="218.13" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="218.13" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="215.01" y="90.37" width="3.12" height="3.12"/>
        <rect class="cls-1" x="208.78" y="65.44" width="3.12" height="3.12"/>
        <path class="cls-1" d="M243.84,90.37h2.34v-3.12h-3.12v.54c.38.8.64,1.66.78,2.58Z"/>
        <rect class="cls-1" x="236.83" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="252.41" y="59.21" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="56.09" width="3.12" height="3.12"/>
        <rect class="cls-1" x="246.18" y="65.44" width="3.12" height="3.12"/>
        <rect class="cls-1" x="233.71" y="65.44" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="56.09" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="233.71" y="77.9" width="3.12" height="3.12"/>
        <path class="cls-1" d="M243.06,63.33v2.11h3.12v-.92c-1.04-.43-2.08-.82-3.12-1.18Z"/>
        <rect class="cls-1" x="255.52" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="236.83" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="243.06" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="252.41" y="71.67" width="3.12" height="3.12"/>
        <rect class="cls-1" x="230.6" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="211.9" y="62.32" width="3.12" height="3.12"/>
        <path class="cls-1" d="M211.9,61.41c-1.06.26-2.1.55-3.12.88v.04h3.12v-.92Z"/>
        <path class="cls-1" d="M171.39,33.42c-.95-.79-1.94-1.54-2.96-2.26h-.16v3.12h3.12v-.86Z"/>
        <path class="cls-1" d="M205.67,65.44h3.12v-3.12h-.13c-2.59.83-5.04,1.88-7.32,3.12h1.22v3.12h3.12v-3.12Z"/>
        <path class="cls-1" d="M183.85,49.34v.52h.24c-.08-.17-.16-.35-.24-.52Z"/>
        <rect class="cls-1" x="224.36" y="62.32" width="3.12" height="3.12"/>
        <path class="cls-1" d="M236.83,61.51c-1.04-.24-2.08-.46-3.12-.64v1.46h3.12v-.82Z"/>
        <path class="cls-1" d="M218.13,60.3c-1.06.12-2.09.27-3.12.45v1.57h3.12v-2.02Z"/>
        <rect class="cls-1" x="218.13" y="112.18" width="3.12" height="3.12"/>
        <path class="cls-1" d="M224.36,60.01c-.17,0-.34-.01-.51-.01-.88,0-1.75.03-2.61.07v2.26h3.12v-2.32Z"/>
        <rect class="cls-1" x="218.13" y="62.32" width="3.12" height="3.12"/>
        <path class="cls-1" d="M230.6,60.4c-1.04-.12-2.08-.22-3.12-.29v2.2h3.12v-1.92Z"/>
        <path class="cls-1" d="M239.94,65.44v-3.11s-.02,0-.02,0h-3.09v3.12h3.12Z"/>
        <rect class="cls-1" x="227.48" y="77.9" width="3.12" height="3.12"/>
        <path class="cls-1" d="M243.06,96.14v.46h3.12v-3.12h-2.37c-.14.93-.39,1.83-.74,2.66Z"/>
        <path class="cls-1" d="M224.36,99.72v-.48c-.64-.78-1.15-1.66-1.49-2.63h-1.63v3.12h3.12Z"/>
        <rect class="cls-1" x="243.06" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="246.18" y="90.37" width="3.12" height="3.12"/>
        <path class="cls-1" d="M239.8,84.14h.14v-3.12h-3.12v1.83c1.09.28,2.09.72,2.97,1.29Z"/>
        <path class="cls-1" d="M227.61,84.14h-.13v.07s.09-.05.13-.07Z"/>
        <rect class="cls-1" x="224.36" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="224.36" y="112.18" width="3.12" height="3.12"/>
        <path class="cls-1" d="M242.79,87.25h.27v-3.12h-3.12v.1c1.18.79,2.16,1.81,2.84,3.02Z"/>
        <path class="cls-1" d="M230.6,82.88c.99-.26,2.03-.41,3.12-.41v-1.45h-3.12v1.86Z"/>
        <rect class="cls-1" x="221.25" y="102.83" width="3.12" height="3.12"/>
        <rect class="cls-1" x="218.13" y="93.48" width="3.12" height="3.12"/>
        <path class="cls-1" d="M240.54,99.72h2.52v-3.12h-.22c-.57,1.18-1.35,2.23-2.3,3.12Z"/>
        <rect class="cls-1" x="224.36" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="252.41" y="84.14" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="243.06" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="239.94" y="71.67" width="3.12" height="3.12"/>
        <rect class="cls-1" x="243.06" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="211.9" y="93.48" width="3.12" height="3.12"/>
        <path class="cls-1" d="M221.25,87.25h3c.04-.05.08-.1.11-.15v-2.97h-3.12v3.12Z"/>
        <rect class="cls-1" x="218.13" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="252.41" y="96.6" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="208.78" y="46.74" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="18.7" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="6.23" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="12.46" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="18.7" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="230.6" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="18.7" y="56.09" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="12.46" width="3.12" height="3.12"/>
        <path class="cls-1" d="M215.01,24.93h-2.23c-.3.05-.59.1-.89.15v2.97h3.12v-3.12Z"/>
        <rect class="cls-1" x="218.13" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="12.46" width="3.12" height="3.12"/>
        <rect class="cls-1" x="218.13" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="224.36" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="230.6" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="224.36" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="227.48" y="34.28" width="3.12" height="3.12"/>
        <rect class="cls-1" x="230.6" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="18.7" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="18.7" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="12.46" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="37.39" width="3.12" height="3.12"/>
        <path class="cls-1" d="M31.16,126.61c1.01.22,2.05.41,3.12.57v-2.54h-3.12v1.96Z"/>
        <rect class="cls-1" x="196.32" y="121.53" width="3.12" height="3.12"/>
        <rect class="cls-1" x="202.55" y="121.53" width="3.12" height="3.12"/>
        <rect class="cls-1" x="193.2" y="118.41" width="3.12" height="3.12"/>
        <path class="cls-1" d="M190.09,109.07v-3.12h-3.12v-3.12h-3.12v3.12h-1.51c.24,1.07.53,2.11.86,3.12h.64v1.76c.18.46.38.91.58,1.36h2.53v-3.12h3.12Z"/>
        <rect class="cls-1" x="186.97" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="190.09" y="115.3" width="3.12" height="3.12"/>
        <rect class="cls-1" x="221.25" y="115.3" width="3.12" height="3.12"/>
        <rect class="cls-1" x="218.13" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="205.67" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="208.78" y="115.3" width="3.12" height="3.12"/>
        <rect class="cls-1" x="211.9" y="118.41" width="3.12" height="3.12"/>
        <path class="cls-1" d="M155.81,121.53h2.83c.09-.05.19-.1.28-.16v-2.96h-3.12v3.12Z"/>
        <rect class="cls-1" x="137.11" y="124.65" width="3.12" height="3.12"/>
        <path class="cls-1" d="M186.97,96.6h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v-3.12h-3.12v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v-3.12h-3.12v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-2.02c-2.26,1.38-4.35,2.96-6.23,4.71v.43h3.12v3.12h-3.12v-3.12h-.45c-.94.91-1.83,1.86-2.67,2.85v.27h-.24c-.52.63-1.03,1.28-1.5,1.94.06-.64.1-1.29.15-1.94h-1.52v-3.12h1.65c0-.22.02-.44.02-.66,0-.83-.02-1.65-.06-2.46h-1.6v-3.12h1.37c-.11-1.05-.26-2.09-.43-3.12h-.94v-3.12h.32c-.5-2.14-1.12-4.22-1.88-6.23h-1.55v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v-3.12h-3.12v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h-3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h-3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h-3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h-3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h-3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h-3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h-3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h-3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-1.84c-.33,1.03-.64,2.07-.92,3.12h2.75v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v2.91c1.92-1.89,3.71-3.9,5.35-6.03h-2.23v-3.12h3.12v1.94c1.19-1.63,2.29-3.31,3.31-5.06h-.19v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h3.12v-3.12ZM183.85,81.02h-3.12v-3.12h3.12v3.12ZM171.39,87.25h-3.12v-3.12h3.12v3.12ZM165.16,93.48h-3.12v-3.12h3.12v3.12ZM137.11,93.48v-1.93c-2.4,1.09-5.06,1.72-7.9,1.72-.49,0-.97-.03-1.45-.07v.28h-3.12v-.83c-5.61-1.54-9.59-5.92-10.81-11.64h-1.66v-3.12h1.28c0-.21-.03-.41-.03-.62,0-5.96,2.67-11.36,6.92-14.96h-1.94v-3.12h3.12v2.22c3.12-2.25,6.95-3.59,11.14-3.59s7.95,1.48,10.68,3.95v-2.57h3.12v3.12h-2.53c2.85,2.87,4.51,6.91,4.51,11.5,0,3.77-1.08,7.31-2.94,10.31h.96v3.12h-3.12v-.26c-1.18,1.3-2.54,2.44-4.04,3.38h.93v3.12h-3.12ZM93.48,71.67h3.12v3.12h-3.12v-3.12ZM99.72,65.44h3.12v3.12h-3.12v-3.12ZM105.95,59.21h3.12v3.12h-3.12v-3.12ZM115.3,62.32h-3.12v-3.12h3.12v3.12ZM115.3,68.56h-3.12v-3.12h3.12v3.12ZM105.95,84.14h3.12v3.12h-3.12v-3.12ZM109.07,81.02h-3.12v-3.12h3.12v3.12ZM105.95,74.79v-3.12h3.12v3.12h-3.12ZM109.07,65.44v3.12h-3.12v-3.12h3.12ZM99.72,77.9h3.12v3.12h-3.12v-3.12ZM105.95,90.37h3.12v3.12h-3.12v-3.12ZM112.18,90.37h3.12v3.12h-3.12v-3.12ZM177.62,74.79h-3.12v-3.12h3.12v3.12ZM165.16,81.02h-3.12v-3.12h3.12v3.12ZM149.58,77.9h3.12v3.12h-3.12v-3.12ZM149.58,65.44h3.12v3.12h-3.12v-3.12ZM155.81,74.79v-3.12h3.12v3.12h-3.12ZM158.92,68.56h-3.12v-3.12h3.12v3.12ZM155.81,84.14h3.12v3.12h-3.12v-3.12ZM168.27,71.67h3.12v3.12h-3.12v-3.12ZM171.39,68.56h-3.12v-3.12h3.12v3.12ZM165.16,68.56h-3.12v-3.12h3.12v3.12ZM158.92,62.32h-3.12v-3.12h3.12v3.12ZM149.58,90.37h3.12v3.12h-3.12v-3.12ZM155.81,90.37h3.12v3.12h-3.12v-3.12ZM168.27,81.02v-3.12h3.12v3.12h-3.12ZM174.5,77.9h3.12v3.12h-3.12v-3.12ZM183.85,74.79h-3.12v-3.12h3.12v3.12ZM183.85,65.44v3.12h-3.12v-3.12h3.12ZM177.62,65.44v3.12h-3.12v-3.12h3.12ZM165.16,52.97v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h-3.12v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12ZM158.92,52.97v3.12h-3.12v-3.12h3.12ZM152.69,52.97v3.12h-3.12v-3.12h3.12ZM146.46,52.97v3.12h-3.12v-3.12h3.12ZM140.23,52.97v3.12h-3.12v-3.12h3.12ZM133.99,52.97v3.12h-3.12v-3.12h3.12ZM127.76,52.97v3.12h-3.12v-3.12h3.12ZM121.53,52.97v3.12h-3.12v-3.12h3.12ZM115.3,52.97v3.12h-3.12v-3.12h3.12ZM109.07,52.97v3.12h-3.12v-3.12h3.12ZM99.72,52.97h3.12v3.12h-3.12v-3.12ZM99.72,59.21h3.12v3.12h-3.12v-3.12ZM96.6,65.44v3.12h-3.12v-3.12h3.12ZM87.25,65.44h3.12v3.12h-3.12v-3.12ZM87.25,71.67h3.12v3.12h-3.12v-3.12ZM93.48,87.25v-3.12h-3.12v3.12h-3.12v-3.12h3.12v-3.12h-3.12v-3.12h3.12v3.12h3.12v-3.12h3.12v3.12h-3.12v3.12h3.12v3.12h-3.12ZM99.72,90.37h3.12v3.12h-3.12v-3.12ZM99.72,99.72v-3.12h3.12v3.12h-3.12ZM105.95,99.72v-3.12h3.12v3.12h-3.12ZM112.18,99.72v-3.12h3.12v3.12h-3.12ZM118.41,99.72v-3.12h3.12v3.12h-3.12ZM124.65,99.72v-3.12h3.12v3.12h-3.12ZM130.88,99.72v-3.12h3.12v3.12h-3.12ZM143.34,99.72v-3.12h3.12v3.12h-3.12ZM149.58,99.72v-3.12h3.12v3.12h-3.12ZM155.81,99.72v-3.12h3.12v3.12h-3.12ZM162.04,99.72v-3.12h3.12v3.12h-3.12ZM171.39,99.72h-3.12v-3.12h3.12v3.12ZM171.39,93.48h-3.12v-3.12h3.12v3.12ZM174.5,87.25v-3.12h3.12v3.12h-3.12ZM180.74,87.25v-3.12h3.12v3.12h-3.12Z"/>
        <rect class="cls-1" x="124.65" y="124.65" width="3.12" height="3.12"/>
        <rect class="cls-1" x="118.41" y="124.65" width="3.12" height="3.12"/>
        <rect class="cls-1" x="140.23" y="121.53" width="3.12" height="3.12"/>
        <rect class="cls-1" x="130.88" y="124.65" width="3.12" height="3.12"/>
        <rect class="cls-1" x="146.46" y="121.53" width="3.12" height="3.12"/>
        <path class="cls-1" d="M165.16,112.18h-3.12v3.12h3.12v2c2.13-1.58,4.14-3.29,6.02-5.12h-2.9v-3.12h-3.12v3.12Z"/>
        <rect class="cls-1" x="158.92" y="115.3" width="3.12" height="3.12"/>
        <rect class="cls-1" x="224.36" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="149.58" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="12.46" y="56.09" width="3.12" height="3.12"/>
        <rect class="cls-1" x="6.23" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="227.48" y="121.53" width="3.12" height="3.12"/>
        <rect class="cls-1" x="6.23" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="6.23" y="43.63" width="3.12" height="3.12"/>
        <path class="cls-1" d="M21.81,118.41h-3.12v3.03s.09.06.13.09h2.98v-3.12Z"/>
        <rect class="cls-1" x="12.46" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="230.6" y="118.41" width="3.12" height="3.12"/>
        <path class="cls-1" d="M233.71,125.3v-.65h-3.12v2.14c1.06-.45,2.1-.95,3.12-1.48Z"/>
        <rect class="cls-1" x="12.46" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="12.46" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="12.46" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="12.46" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="12.46" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="12.46" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="12.46" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="267.99" y="68.56" width="3.12" height="3.12"/>
        <path class="cls-1" d="M239.94,118.41h-3.12v3.12h2.69c.14-.11.28-.22.42-.33v-2.78Z"/>
        <rect class="cls-1" x="243.06" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="267.99" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="115.3" y="121.53" width="3.12" height="3.12"/>
        <rect class="cls-1" x="267.99" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="267.99" y="56.09" width="3.12" height="3.12"/>
        <rect class="cls-1" x="267.99" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="236.83" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="243.06" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="236.83" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="236.83" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="243.06" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="267.99" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="224.36" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="243.06" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="274.22" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="280.45" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="280.45" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="280.45" y="56.09" width="3.12" height="3.12"/>
        <rect class="cls-1" x="274.22" y="37.39" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="280.45 105.99 280.46 105.95 280.45 105.95 280.45 105.99"/>
        <polygon class="cls-1" points="283.57 87.25 280.45 87.25 280.45 90.37 283.5 90.37 283.57 90.01 283.57 87.25"/>
        <rect class="cls-1" x="267.99" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="267.99" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="267.99" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="267.99" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="267.99" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="267.99" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="274.22" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="274.22" y="112.18" width="3.12" height="3.12"/>
        <path class="cls-1" d="M236.83,51.12c1.13.19,2.17.42,3.12.69v-1.95h-3.12v1.26Z"/>
        <rect class="cls-1" x="274.22" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="274.22" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="274.22" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="224.36" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="218.13" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="221.25" y="46.74" width="3.12" height="3.12"/>
        <rect class="cls-1" x="205.67" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="239.94" y="46.74" width="3.12" height="3.12"/>
        <rect class="cls-1" x="215.01" y="46.74" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="206.92 34.28 208.78 34.28 208.78 31.16 207.94 31.16 206.92 34.28"/>
        <rect class="cls-1" x="211.9" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="215.01" y="34.28" width="3.12" height="3.12"/>
        <rect class="cls-1" x="218.13" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="221.25" y="40.51" width="3.12" height="3.12"/>
        <path class="cls-1" d="M205.67,52.89c1.05-.2,2.09-.4,3.12-.58v-2.45h-3.12v3.03Z"/>
        <path class="cls-1" d="M218.13,50.99c1.04-.1,2.08-.2,3.12-.27v-.86h-3.12v1.13Z"/>
        <path class="cls-1" d="M211.9,51.79c1.05-.16,2.09-.31,3.12-.44v-1.49h-3.12v1.93Z"/>
        <rect class="cls-1" x="227.48" y="46.74" width="3.12" height="3.12"/>
        <path class="cls-1" d="M224.36,50.55c1.03-.04,2.07-.06,3.12-.06v-.63h-3.12v.69Z"/>
        <polygon class="cls-1" points="208.78 28.56 208.78 31.16 211.9 31.16 211.9 28.05 208.95 28.05 208.78 28.56"/>
        <path class="cls-1" d="M205.21,52.97h-2.66v.54c.9-.19,1.79-.37,2.66-.54Z"/>
        <rect class="cls-1" x="211.9" y="37.39" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="205.91 37.39 205.67 38.13 205.67 40.51 208.78 40.51 208.78 37.39 205.91 37.39"/>
        <polygon class="cls-1" points="200.83 52.97 202.55 52.97 202.55 49.86 201.85 49.86 200.83 52.97"/>
        <rect class="cls-1" x="208.78" y="40.51" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="202.86 46.74 202.55 47.7 202.55 49.86 205.67 49.86 205.67 46.74 202.86 46.74"/>
        <rect class="cls-1" x="211.9" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="261.76" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="243.06" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="243.06" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="255.52" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="236.83" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="230.6" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="261.76" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="261.76" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="261.76" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="261.76" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="261.76" y="112.18" width="3.12" height="3.12"/>
        <path class="cls-1" d="M233.71,50.73v-.87h-3.12v.68c1.1.04,2.13.1,3.12.19Z"/>
        <rect class="cls-1" x="261.76" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="261.76" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="261.76" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="261.76" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="62.32" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="52.97" y="109.07" width="3.12" height="3.12"/>
        <rect class="cls-1" x="59.21" y="102.83" width="3.12" height="3.12"/>
        <rect class="cls-1" x="59.21" y="109.07" width="3.12" height="3.12"/>
        <rect class="cls-1" x="62.32" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="52.97" y="96.6" width="3.12" height="3.12"/>
        <rect class="cls-1" x="59.21" y="96.6" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="46.74" y="90.37" width="3.12" height="3.12"/>
        <rect class="cls-1" x="34.28" y="84.14" width="3.12" height="3.12"/>
        <rect class="cls-1" x="109.07" y="121.53" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="40.51" y="96.6" width="3.12" height="3.12"/>
        <rect class="cls-1" x="34.28" y="90.37" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="46.74" y="102.83" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="46.74" y="96.6" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="62.32" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="65.44" y="34.28" width="3.12" height="3.12"/>
        <rect class="cls-1" x="74.79" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="59.21" y="40.51" width="3.12" height="3.12"/>
        <rect class="cls-1" x="68.56" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="46.74" y="46.74" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="52.97" y="46.74" width="3.12" height="3.12"/>
        <rect class="cls-1" x="74.79" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="65.44" y="40.51" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="46.74" y="52.97" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="74.79" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="46.74" y="59.21" width="3.12" height="3.12"/>
        <rect class="cls-1" x="68.56" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="71.67" y="40.51" width="3.12" height="3.12"/>
        <rect class="cls-1" x="46.74" y="65.44" width="3.12" height="3.12"/>
        <rect class="cls-1" x="71.67" y="34.28" width="3.12" height="3.12"/>
        <rect class="cls-1" x="112.18" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="140.23" y="21.81" width="3.12" height="3.12"/>
        <rect class="cls-1" x="127.76" y="21.81" width="3.12" height="3.12"/>
        <rect class="cls-1" x="124.65" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="133.99" y="21.81" width="3.12" height="3.12"/>
        <rect class="cls-1" x="149.58" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="59.21" y="46.74" width="3.12" height="3.12"/>
        <rect class="cls-1" x="143.34" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="118.41" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="105.95" y="31.16" width="3.12" height="3.12"/>
        <path class="cls-1" d="M102.83,31.16h-2.27c-.29.18-.56.37-.85.55v2.56h3.12v-3.12Z"/>
        <path class="cls-1" d="M115.3,24.93h-1.72c-.47.16-.93.33-1.4.5v2.61h3.12v-3.12Z"/>
        <rect class="cls-1" x="109.07" y="28.05" width="3.12" height="3.12"/>
        <rect class="cls-1" x="158.92" y="28.05" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="130.88 37.39 130.88 34.28 127.76 34.28 127.76 37.39 124.65 37.39 124.65 40.51 127.76 40.51 127.76 43.63 130.88 43.63 130.88 40.51 133.99 40.51 133.99 37.39 130.88 37.39"/>
        <polygon class="cls-1" points="118.41 37.39 118.41 34.28 115.3 34.28 115.3 37.39 112.18 37.39 112.18 40.51 115.3 40.51 115.3 43.63 118.41 43.63 118.41 40.51 121.53 40.51 121.53 37.39 118.41 37.39"/>
        <polygon class="cls-1" points="105.95 37.39 105.95 34.28 102.83 34.28 102.83 37.39 99.72 37.39 99.72 40.51 102.83 40.51 102.83 43.63 105.95 43.63 105.95 40.51 109.07 40.51 109.07 37.39 105.95 37.39"/>
        <path class="cls-1" d="M158.92,28.05v-2.16c-.8-.34-1.6-.66-2.42-.96h-.69v3.12h3.12Z"/>
        <rect class="cls-1" x="109.07" y="34.28" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="143.34 37.39 143.34 34.28 140.23 34.28 140.23 37.39 137.11 37.39 137.11 40.51 140.23 40.51 140.23 43.63 143.34 43.63 143.34 40.51 146.46 40.51 146.46 37.39 143.34 37.39"/>
        <polygon class="cls-1" points="155.81 37.39 155.81 34.28 152.69 34.28 152.69 37.39 149.58 37.39 149.58 40.51 152.69 40.51 152.69 43.63 155.81 43.63 155.81 40.51 158.92 40.51 158.92 37.39 155.81 37.39"/>
        <rect class="cls-1" x="162.04" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="96.6" y="34.28" width="3.12" height="3.12"/>
        <path class="cls-1" d="M174.5,37.39v-1.15c-.68-.67-1.39-1.33-2.11-1.96h-1.01v3.12h3.12Z"/>
        <polygon class="cls-1" points="162.04 37.39 162.04 40.51 165.16 40.51 165.16 43.63 168.27 43.63 168.27 40.51 171.39 40.51 171.39 37.39 168.27 37.39 168.27 34.28 165.16 34.28 165.16 37.39 162.04 37.39"/>
        <rect class="cls-1" x="31.16" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="40.51" y="59.21" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="56.09" width="3.12" height="3.12"/>
        <rect class="cls-1" x="34.28" y="65.44" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="93.48" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="40.51" y="84.14" width="3.12" height="3.12"/>
        <rect class="cls-1" x="40.51" y="71.67" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="56.09" width="3.12" height="3.12"/>
        <rect class="cls-1" x="84.14" y="46.74" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="90.37" y="40.51" width="3.12" height="3.12"/>
        <rect class="cls-1" x="87.25" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="109.07" y="115.3" width="3.12" height="3.12"/>
        <rect class="cls-1" x="105.95" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="96.6" y="115.3" width="3.12" height="3.12"/>
        <path class="cls-1" d="M77.9,71.67v-3.12h-3.12v-1.69c-.61,2.58-1.05,5.22-1.29,7.92h1.29v-3.12h3.12Z"/>
        <path class="cls-1" d="M77.9,84.14v-3.12h-3.12v-3.12h-1.49c-.03.73-.05,1.45-.05,2.19,0,2.45.17,4.84.49,7.16h1.05v-3.12h3.12Z"/>
        <rect class="cls-1" x="52.97" y="90.37" width="3.12" height="3.12"/>
        <rect class="cls-1" x="124.65" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="112.18" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="121.53" y="115.3" width="3.12" height="3.12"/>
        <rect class="cls-1" x="130.88" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="133.99" y="115.3" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="71.67" y="52.97" width="3.12" height="3.12"/>
        <rect class="cls-1" x="46.74" y="77.9" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="46.74" y="84.14" width="3.12" height="3.12"/>
        <path class="cls-1" d="M52.97,90.37v-2.53c-.15-.19-.29-.38-.42-.59h-2.69v3.12h3.12Z"/>
        <rect class="cls-1" x="46.74" y="71.67" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="71.67 52.97 71.67 49.86 68.56 49.86 68.56 46.74 65.44 46.74 65.44 49.86 62.32 49.86 62.32 52.97 65.44 52.97 65.44 56.09 68.56 56.09 68.56 52.97 71.67 52.97"/>
        <rect class="cls-1" x="118.41" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="59.21" y="52.97" width="3.12" height="3.12"/>
        <rect class="cls-1" x="52.97" y="52.97" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="56.09" width="3.12" height="3.12"/>
        <path class="cls-1" d="M74.79,56.09v2.61h2.58c-.07.17-.13.34-.19.51h.72v-3.12h-3.12Z"/>
        <path class="cls-1" d="M84.14,102.83v-3.12h-3.12v-3.12h-3.12v3.12h-.8c.91,2.17,1.98,4.25,3.19,6.23h.72v-3.12h3.12Z"/>
        <path class="cls-1" d="M84.14,109.07v2.26c.23.28.46.57.7.85h2.41v-3.12h-3.12Z"/>
        <path class="cls-1" d="M81.02,105.95v1.14c.44.67.89,1.33,1.36,1.97h1.76v-3.12h-3.12Z"/>
        <rect class="cls-1" x="87.25" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="84.14" y="102.83" width="3.12" height="3.12"/>
        <path class="cls-1" d="M87.25,112.18v2.56c.19.18.37.37.56.55h2.56v-3.12h-3.12Z"/>
        <rect class="cls-1" x="99.72" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="102.83" y="121.53" width="3.12" height="3.12"/>
        <path class="cls-1" d="M93.48,118.41v1.55c.77.54,1.55,1.06,2.35,1.56h.77v-3.12h-3.12Z"/>
        <path class="cls-1" d="M90.37,115.3v2.29c.34.28.68.55,1.03.83h2.09v-3.12h-3.12Z"/>
        <rect class="cls-1" x="121.53" y="121.53" width="3.12" height="3.12"/>
        <rect class="cls-1" x="90.37" y="109.07" width="3.12" height="3.12"/>
        <rect class="cls-1" x="137.11" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="143.34" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="133.99" y="121.53" width="3.12" height="3.12"/>
        <rect class="cls-1" x="127.76" y="121.53" width="3.12" height="3.12"/>
        <rect class="cls-1" x="146.46" y="115.3" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="115.3 115.3 115.3 118.41 118.41 118.41 118.41 115.3 121.53 115.3 121.53 112.18 118.41 112.18 118.41 109.07 115.3 109.07 115.3 112.18 112.18 112.18 112.18 115.3 115.3 115.3"/>
        <rect class="cls-1" x="93.48" y="112.18" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="102.83 115.3 102.83 118.41 105.95 118.41 105.95 115.3 109.07 115.3 109.07 112.18 105.95 112.18 105.95 109.07 102.83 109.07 102.83 112.18 99.72 112.18 99.72 115.3 102.83 115.3"/>
        <polygon class="cls-1" points="127.76 115.3 127.76 118.41 130.88 118.41 130.88 115.3 133.99 115.3 133.99 112.18 130.88 112.18 130.88 109.07 127.76 109.07 127.76 112.18 124.65 112.18 124.65 115.3 127.76 115.3"/>
        <polygon class="cls-1" points="152.69 115.3 152.69 118.41 155.81 118.41 155.81 115.3 158.92 115.3 158.92 112.18 155.81 112.18 155.81 109.07 152.69 109.07 152.69 112.18 149.58 112.18 149.58 115.3 152.69 115.3"/>
        <polygon class="cls-1" points="140.23 115.3 140.23 118.41 143.34 118.41 143.34 115.3 146.46 115.3 146.46 112.18 143.34 112.18 143.34 109.07 140.23 109.07 140.23 112.18 137.11 112.18 137.11 115.3 140.23 115.3"/>
        <rect class="cls-1" x="62.32" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="59.21" y="28.05" width="3.12" height="3.12"/>
        <rect class="cls-1" x="52.97" y="34.28" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="31.16" width="3.12" height="3.12"/>
        <rect class="cls-1" x="46.74" y="40.51" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="28.05" y="59.21" width="3.12" height="3.12"/>
        <rect class="cls-1" x="40.51" y="46.74" width="3.12" height="3.12"/>
        <rect class="cls-1" x="34.28" y="52.97" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="49.86" width="3.12" height="3.12"/>
        <rect class="cls-1" x="77.9" y="40.51" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="68.56" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="71.67" y="46.74" width="3.12" height="3.12"/>
        <rect class="cls-1" x="77.9" y="34.28" width="3.12" height="3.12"/>
        <rect class="cls-1" x="74.79" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="68.56" y="24.93" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="81.02 34.28 83.69 34.28 84.14 32 84.14 31.16 81.02 31.16 81.02 34.28"/>
        <rect class="cls-1" x="71.67" y="28.05" width="3.12" height="3.12"/>
        <rect class="cls-1" x="62.32" y="43.63" width="3.12" height="3.12"/>
        <rect class="cls-1" x="81.02" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="56.09" width="3.12" height="3.12"/>
        <rect class="cls-1" x="46.74" y="115.3" width="3.12" height="3.12"/>
        <rect class="cls-1" x="56.09" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="49.86" y="118.41" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" y="105.95" width="3.12" height="3.12"/>
        <rect class="cls-1" x="40.51" y="109.07" width="3.12" height="3.12"/>
        <rect class="cls-1" x="43.63" y="112.18" width="3.12" height="3.12"/>
        <rect class="cls-1" x="62.32" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="59.21" y="115.3" width="3.12" height="3.12"/>
        <rect class="cls-1" x="62.32" y="112.18" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="65.44 112.18 68.55 112.18 68.56 112.18 68.56 109.07 65.44 109.07 65.44 112.18"/>
        <rect class="cls-1" x="31.16" y="74.79" width="3.12" height="3.12"/>
        <rect class="cls-1" x="28.05" y="84.14" width="3.12" height="3.12"/>
        <rect class="cls-1" x="34.28" y="77.9" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="34.28" y="102.83" width="3.12" height="3.12"/>
        <rect class="cls-1" x="28.05" y="71.67" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="68.56" width="3.12" height="3.12"/>
        <rect class="cls-1" x="31.16" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="28.05" y="96.6" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="24.93" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="37.39" width="3.12" height="3.12"/>
        <rect class="cls-1" x="6.23" y="56.09" width="3.12" height="3.12"/>
        <rect class="cls-1" y="56.09" width="3.12" height="3.12"/>
        <polygon class="cls-1" points="84.14 52.97 84.14 49.86 81.02 49.86 81.02 46.74 77.9 46.74 77.9 49.86 74.79 49.86 74.79 52.97 77.9 52.97 77.9 56.09 81.02 56.09 81.02 52.97 84.14 52.97"/>
        <polygon class="cls-1" points="71.67 102.83 71.67 99.72 68.56 99.72 68.56 96.6 65.44 96.6 65.44 99.72 62.32 99.72 62.32 102.83 65.44 102.83 65.44 105.95 68.56 105.95 68.56 102.83 71.67 102.83"/>
        <rect class="cls-1" x="6.23" y="81.02" width="3.12" height="3.12"/>
        <rect class="cls-1" x="6.23" y="87.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="6.23" y="93.48" width="3.12" height="3.12"/>
        <rect class="cls-1" x="6.23" y="99.72" width="3.12" height="3.12"/>
        <rect class="cls-1" x="62.32" y="12.46" width="3.12" height="3.12"/>
        <rect class="cls-1" x="261.76" y="24.93" width="3.12" height="3.12"/>
        <rect class="cls-1" x="286.69" y="50.25" width="3.12" height="3.12"/>
        <rect class="cls-1" x="287.18" y="62.32" width="3.12" height="3.12"/>
        <rect class="cls-1" x="243.06" y="124.65" width="3.12" height="3.12"/>
        <rect class="cls-1" x="249.29" y="124.65" width="3.12" height="3.12"/>
        <rect class="cls-1" x="261.76" y="124.65" width="3.12" height="3.12"/>
        <rect class="cls-1" x="274.22" y="124.65" width="3.12" height="3.12"/>
        <rect class="cls-1" x="280.45" y="93.48" width="3.12" height="3.12"/>
      </g>
    </g>
  </svg>
  <span class="visuallyhidden">Tim Adler</span>
</a>

<style lang="scss">
  #logo {
    width: 60px;
    transform: translateY(-0.1em) rotate(-8deg);
    flex-shrink: 0;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-animating="true"] {
      .letter {
        stroke-dasharray: 1;
        stroke-dashoffset: 1;
        animation-name: stroke;
        animation-timing-function: linear;
        animation-fill-mode: both;
      }

      .letter-e {
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(1, 0, 0.39, 1);
      }

      .letter-v {
        animation-duration: 0.2s;
        animation-delay: 0.6s;
        animation-timing-function: cubic-bezier(0.75, 0, 0, 1);
      }

      .letter-a {
        animation-duration: 0.4s;
        animation-delay: 0.85s;
        animation-timing-function: cubic-bezier(0, -0.01, 0.34, 0.9);
      }
    }
  }

  .visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>

<script>
  function handleAnimation() {
    // Set animating status to let SVG animations run to completion
    // Instead of being cut off when the user hovers away
    const logoElem = document.getElementById("logo");
    logoElem?.addEventListener("click", () => {
      if (logoElem.dataset.animating === "true") return;

      logoElem.dataset.animating = "true";

      setTimeout(() => {
        logoElem.dataset.animating = "false";
      }, 1300);
    });
  }

  handleAnimation();

  document.addEventListener("astro:after-swap", () => handleAnimation());
</script>
